* {
    font-family: 'Lato', 'Arial', sans-serif;
}

html, body {
    height: 100%;
    background-size: cover;
}

body {
    overflow-x: hidden;
}

section {
    padding-top: 70px;
    padding-bottom: 10px;
    min-height: calc(100% - 1px);
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Roboto Slab';
    font-weight: 700;
}

@media (min-width: 0) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.7em;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3.1em;
    }

    h3 {
        font-size: 2.3em;
    }
}

pre {
    background-color: #f0f0f0;
}

code {
    font-family: monospace, 'Courier New', sans-serif;
    font-size: 1.7em;
}

.icon-bar {
    background-color: #fff;
}

.navbar-trans {
    background-color: #9c3032;
    color: #fff;
    z-index: 2;
}

.navbar-trans li > a:hover, .navbar-trans li > a:focus, .navbar-trans li.active {
    background-color: #83080b;
}

.navbar-trans a {
    color: #fefefe;
}

.navbar-trans .form-control:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.navbar-brand {
    font-weight: bold;
}

.container-fluid {
    min-height: 16%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.row.head {
    margin-bottom: 50px;
}

hr.primary {
    border: 2px solid;
    max-width: 40vw;
    margin: 30px auto;
}

.fa.title-decoration {
    display: inline-block;
    padding: 0 7px;
    position: relative;
    top: -46px;
    font-family: 'FontAwesome';
    text-align: center;
}

.italic {
    font-style: italic;
}

.inline-link {
    display: inline-block;
    margin: 0 20px;
}

.inline-link .fa {
    background-color: transparent;
    margin-right: 10px;
}

.footer {
    border-radius: 15px;
    margin: 0;
    padding: 10px 0;
    line-height: 1.4;
}

.footer .inline-graphical-link {
    margin: 0 10px;
}

.footer .inline-graphical-link a {
    margin: 5px !important;
}

@media (min-width: 0) {
    .footer .inline-graphical-link a {
        font-size: 1.7em;
    }

    .footer .inline-graphical-link i {
        font-size: 1.7em;
    }
}

@media (min-width: 992px) {
    .footer .inline-graphical-link a {
        margin: 5px !important;
        font-size: 2.2em;
    }

    .footer .inline-graphical-link i {
        font-size: 2.2em;
    }
}

.under-constr {
    background-color: #bbb;
    padding: 10px 30px;
    position: fixed;
    left: 0;
    top: 51px;
    z-index: 1;
    color: #fff;
}

.under-constr .lead {
    margin: 0;
    padding: 0;
}

.under-constr span {
    margin-left: 10px;
}

.newsfeed {
    background-color: #bbb;
    width: 270px;
    padding: 20px 15px;
    position: fixed;
    right: 0;
    top: 51px;
    z-index: 1;
    color: #fff;
}

.newsfeed .lead {
    font-size: 1.35em;
}

.newsfeed .lead i {
    margin-right: 7px;
}

.newsfeed .item a {
    font-weight: bold;
    color: #fff;
}

.newsfeed .item span {
    display: block;
    font-size: 0.8em;
    color: #a63d3f;
}

.featured-list h2 {
    margin: 10px auto;
    font-weight: 300;
}

.featured-list .description {
    margin: 30px 0;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8;
}

.featured-list .feature {
    margin: 15px auto;
}

.featured-list .feature i {
    font-size: 2em;
}

.featured-list .feature span {
    margin-left: 10px;
}

@media (min-width: 0) {
    .featured-list .feature span {
        font-size: 1.2em;
        line-height: 1;
    }
}

@media (min-width: 992px) {
    .featured-list .feature span {
        font-size: 1.6em;
        line-height: 1.4;
    }
}

.project {
    margin: 50px 20px 20px 20px;
    padding: 10px;
}

.project h2 {
    margin: 10px auto;
    text-shadow: 3px 3px 0 #111;
}

.project .description {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
    min-height: 90px;
    margin: 30px 0;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8;
    text-shadow: 1px 1px 0 #000;
}

.project .footer {
    background-color: #9c3032;
    -webkit-box-shadow: 2px 4px 0 #570406;
    -moz-box-shadow: 2px 4px 0 #570406;
    box-shadow: 2px 4px 0 #570406;
}

.project .footer .inline-link {
    color: #fff;
}

.lead {
    font-size: 1.8em;
    line-height: 170%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

#about {
    background-color: #e0e0e0;
    color: #777;
}

#about img {
    width: 20%;
}

#mission {
    background-color: #fff;
    color: #777;
}

#mission h1 {
    text-shadow: 3px 0 0 #eee;
}

#mission hr.primary {
    border-color: #777;
}

#mission .fa.title-decoration {
    text-shadow: 3px 0 0 #eee;
}

#projects {
    background-color: #fff;
    color: #fff;
    position: relative;
}

#projects img.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#projects h1 {
    color: #fff;
    text-shadow: 3px 0 0 #111;
}

#join-us {
    background-color: #333;
    color: #999;
}

#join-us h1 {
    text-shadow: 3px 0 0 #222;
}

#join-us hr.primary {
    border-color: #999;
}

#join-us .fa.title-decoration {
    text-shadow: 3px 0 0 #222;
}

#join-us .footer {
    background-color: rgba(217, 92, 92, 0.1);
    display: inline-block;
    margin: auto 10px;
    padding: 10px;
}

#join-us .footer .inline-graphical-link i, #join-us .footer .inline-graphical-link a {
    color: #d95c5c;
}

#team {
    background-color: #fff;
    color: #888;
}

#team hr.primary {
    border-color: #888;
}

#contact {
    background: center no-repeat fixed #d95c5c url('http://gmum.net/files/gmum.r/img/page/building.jpg');
    background-size: cover;
    color: #fff;
}

#contact h1 {
    color: #fff;
    text-shadow: 3px 0 0 #111;
}

#contact .lead.layer {
    background-color: #fff;
    padding: 20px;
    color: #888;
}

#statute {
    background-color: #fff;
    color: #888;
}

#statute h1 {
    text-shadow: 3px 0 0 #eee;
}

#statute .fa.title-decoration {
    text-shadow: 3px 0 0 #eee;
}

#statute .lead {
    margin: 20px 0;
}

#statute h3 {
    margin-top: 40px;
    color: #707070;
}

#statute ul {
    list-style-type: none;
}

#statute ul li {
    margin: 10px auto;
    font-size: 1.3em;
}

#statute ul li ul li {
    font-size: 1em;
}

footer {
    background-color: #555;
    width: 100%;
    padding: 10px 0;
    color: #ddd;
}

footer p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9em !important;
}
